[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:ceocoder/oh-my-zsh.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:ceocoder/tmuxrc.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:ceocoder/ctrlp.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:ceocoder/syntastic.git
