[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/ceocoder/oh-my-zsh.git
[submodule "tmux"]
	path = tmux
	url = https://github.com/ceocoder/tmuxrc.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
